@import "tailwindcss";

/* ROOT – LIGHT MODE */
:root {
  /* Backgrounds */
  --bg-main: #ffffff;
  --bg-secondary: #f5f5f5;

  /* Text */
  --text-main: #191919; /* Google Green style */
  --text-secondary: #212121;

  /* Accent Colors */
  --accent-primary: rgb(26, 124, 26);
  --accent-secondary: #66bb6a;

  /* Borders */
  --border-light: #e0e0e0;
}

/* DARK MODE */
.dark {
  /* Backgrounds */
  --bg-main: #0b0b0b; /* blackish */
  --bg-secondary: #181818;

  /* Text */
  --text-main: #d4d4d4; /* lighter green for dark mode */
  --text-secondary: #81c784;

  /* Accent Colors */
  --accent-primary: #66bb6a;
  --accent-secondary: #66bb6a;

  /* Borders */
  --border-light: #2c2c2c;
}

/* Smooth transition for all theme-dependent properties */
* {
  transition: background-color 0.4s ease, color 0.4s ease,
    border-color 0.4s ease;
}

@font-face {
  font-family: "Heading";
  src: url("./assets/fonts/Marcellus.ttf") format("truetype");
  font-display: swap;
}

.heading-font {
  font-family: "Heading", sans-serif;
  
  font: italic;
}


::-webkit-scrollbar{
  display: none;
}